{#先判断这个页面的运行状态，如果是没有运行，那么也不会发出请求#}
{#本页面实现的功能是，根据传进来的任务id，渲染出不同的页面，然后页面会不断的向前端发出ajax请求#}
{#请求接收id对应的log信息，并且会根据log信息来决定是否要继续请求#}


{% extends 'basespiderweb.html' %}


    {% block title %}
        <title>爬虫实时监控页面</title>
    {% endblock title %}

{% block spiderscript %}
    <link rel="stylesheet" href="/static/css/scrol.css">

    <script>

{#        var primary = '{{ primary }}';#}
{##}
{#        if(primary === 'no'){#}
{#            alert('没有足够的权限操作这个任务！')#}
{#        }#}
{#        if(primary === 'yes'){#}
{#            alert('启动爬虫成功！')#}
{#        }#}

        var flag = 'yes';
        var myval = setInterval(function () {
            $.get("/spider/runtask/getspiderlog", {spider_id: {{ spider_obj.id }}},
            function (data) {
                 flag = data.data;
                 if(flag === 'continue'){
                     $('.logul').html('<li>'+data.content+'</li>');
                 }
                 if(flag === 'done'){
                     clearInterval(myval);
                     $('.logul').html('<li>'+data.content+'</li>');
                     $('#runstatus').html('暂停运行').css("color","red");
                 }
            });
        }, 500);

    </script>
{% endblock spiderscript %}


{% block spiderbody %}

    <div class="row runseting">
    <h1 class="runsetingh3">爬虫采集实时监控界面</h1>
        <div id="main_select">

            <div class="spidermark">

                <div class="markstyle">任务名称</div>
                <div class="spider_content">{{ spider_obj.spider_name }}</div>
                <div class="markstyle">运行参数</div>
                <div class="spider_content">{{ spider_obj.spider_runavg }}</div>

                <div class="markstyle">采集目标</div>
                <div class="spider_content">{{ spider_obj.spider_content }}</div>
                <div class="markstyle">启动说明</div>
                <div class="spider_mark">{{ spider_obj.spider_mark }}</div>

                <div class="markstyle">运行状态</div>
                  {% if spider_obj.spider_runing == False %}
                      <div class="spider_mark fontcolorred" id="runstatus" style="color: red;">暂停运行</div>
                  {% else %}
                      <div class="spider_mark fontcolorgreen" id="runstatus" style="color: green;">运行中</div>
                  {% endif %}

            </div>

        </div>

    </div><!-- /row -->

    <div class="row">

        <div class=""></div>

        <div class="infoarea pre-scrollable" id="style-3">
            <div class="ulmask">历史信息:</div>

            <ul class="logul">

            </ul>


        </div>

    </div>


{% endblock spiderbody %}

