{#本页面实现了选择爬虫，输入运行任务后，执行爬虫－此时会新开一个爬虫进程#}
{#随后会跳转到这个任务的运行界面#}

{% extends 'basespiderweb.html' %}

{% block title %}
    <title>执行爬虫任务</title>
{% endblock title %}

{% block spiderscript %}
    <link rel="stylesheet" href="/static/css/scrol.css">


    <script type="application/javascript">
        $(function(){

            // 第一次刷新的数据
            if('{{ first_item_runing }}' === 'False'){
                $('#startspiderbutton').show();
                $('#stopspiderbutton').hide();

                $('#run_selectflag').hide();
                $('#stop_selectflag').show();
            }
            else {
                $('#startspiderbutton').hide();
                $('#stopspiderbutton').show();

                $('#run_selectflag').show();
                $('#stop_selectflag').hide();
            }

            // 下拉框动态同步
            $('.spiderchoose').change(function () {
                $.get("/spider/runtask/selectspider", {spider_id: $(this).val()},
                    function (data) {
                        con = data.data;
                        $('.spider_content').html(con.content);
                        $('.spider_mark').html(con.mark);
                        $('.logul').html(con.tags);

                        if(con.runing === false){
                            $('#run_selectflag').hide();
                            $('#stop_selectflag').show();
                        }
                        else{
                            $('#run_selectflag').show();
                            $('#stop_selectflag').hide();
                        }
                    }
                );
            });


            {#  ajax请求爬虫新进程 #}
            $('#startspiderbutton').click(function () {
                // 这一段　启动爬虫，传递爬虫任务的id，和启动任务的参数
                $.get("/spider/runtask/startspider", {spider_id: $(".spiderchoose").val(), run_argvs: $('#spiderargv').val()},
                    function (data) {
                        alert(data.data);

                        if (data.doning === 'yes'){
                            $('#startspiderbutton').hide();
                            $('#stopspiderbutton').show();

                            $('#run_selectflag').show();
                            $('#stop_selectflag').hide();
                        }


                    }
                );
            });

            {#  ajax请求爬虫新进程 #}
            $('#stopspiderbutton').click(function () {
                // 这一段　启动爬虫，传递爬虫任务的id，和启动任务的参数
                $.get("/spider/runtask/stopspider", {spider_id: $(".spiderchoose").val()},
                    function (data) {
                        alert(data.data);

                        $('#startspiderbutton').show();
                        $('#stopspiderbutton').hide();

                        $('#run_selectflag').hide();
                        $('#stop_selectflag').show();
                    }
                );
            });


        })
    </script>


{% endblock spiderscript %}


{% block spiderbody %}
    <div class="row runseting">

        <form action="/spider/ss" target="_blank" method="get">
        <div id="main_select">
        {#  爬虫选择下拉框 #}
            <div class="input-group spiderargv">

                  <span class="input-group-addon" id="basic-addon3">选择爬虫任务</span>

                  <select id="spiderchoose" class="spiderchoose" name="spiderchoose">
                  {% for each in all_spider%}
                  <option value="{{ each.id }}">{{ each.spider_name }}</option>
                  {% endfor %}
                  </select>

                  <span class="fontcolorgreen selecetrunstatus" id="run_selectflag" style="display: none">(运行中)</span>
                  <span class="fontcolorred selecetrunstatus" id="stop_selectflag" style="display: none">(暂停运行)</span>

            </div>

                <div class="input-group spiderargv">
                  <span class="input-group-addon" id="basic-addon3">输入运行参数</span>
                  <input name="spiderargv" type="text" class="form-control" id="spiderargv" aria-describedby="basic-addon3" placeholder="例如淘宝: python [零食] [深圳]">
                </div>

                <div class="spidermark">

                    <div class="markstyle">爬虫采集目标</div>
                    <div class="spider_content">{{ content }}</div>
                    <div class="markstyle">爬虫启动说明</div>
                    <div class="spider_mark">{{ mark }}</div>

                </div>

                <div class="startspiderbutton">
                    <button id="startspiderbutton" type="submit" class="btn btn-success" style="display: none">运行爬虫</button>
                    <button id="stopspiderbutton" type="button" class="btn btn-danger" style="display: none">停止爬虫</button>
                </div>

        </div>
        </form>


    </div><!-- /row -->

    <div class="row">

        <div class="infoareasplitline"></div>

        <div class="infoarea pre-scrollable" id="style-3">
            <div class="ulmask">历史信息:</div>

            <ul class="logul">

            </ul>


        </div>

    </div>


{% endblock spiderbody %}

