<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>建设中...</title>
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />

</head>


<body>

<div id="header">
    <a href="/"><img src="/static/images/dog.png" alt="Your Company Logo" id="logo" /></a>

	<ul> 
		<li>联系方式</li>
		<li>E-mail: nickliqian@outlook.com</li>
	</ul>
</div>



<div id="main">
	<div id="message">
		<img src="/static/images/sorry.png" alt="Sorry!" id="sorry" width="347" height="72" />
		<p>功能正在建设中</p>
		<p>很快就会完成</p>
		<p>谢谢您的关注</p>
	</div>

	<div id="progress" class="progress70"> <!-- change this to 'progressXX' to change the progress bar (where XX is either 10, 20, 30... 100) -->
	</div>

	<p id="completion">It's about 70% complete!</p> <!-- change this to state the % completed -->
</div> <!-- end main -->



<div id="tweet_wrap"> <!-- start tweet_wrap -->
	<div id="twitterLogo"><a href="/" class="backhand">回首页</a></div>

	<div id="tweet"> <!-- start tweet -->	
		<img src="/static/images/loading.gif" alt="loading..." class="loading"/>
	</div> <!-- end tweet -->
</div> <!-- end tweet_wrap -->

</body>
</html>
